<mat-card appearance="outlined" class="max-w">
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput type="text" />
        @if (loginForm.get(formField.username)?.invalid) {
        <mat-error>Please enter username</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" />
        @if (loginForm.get(formField.password)?.invalid) {
        <mat-error>Please enter password</mat-error>
        }
      </mat-form-field>
      <div class="group-button">
        <button [disabled]="loginForm.invalid" mat-button>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
