@if (isLoading) {
<div class="overlay">
  <mat-spinner></mat-spinner>
</div>
} @else { @if (!isDetailVisible) {
<h2>Product list</h2>
<div class="product">
  <mat-card [formGroup]="productForm" appearance="outlined" class="max-w">
    <mat-card-content class="mat-card-search">
      <div class="form-search">
        <mat-form-field>
          <mat-label>Product name </mat-label>
          <input
            [formControlName]="formField.name"
            (input)="searchProduct(formField.name)"
            matInput
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select
            (selectionChange)="searchProduct(formField.category)"
            [formControlName]="formField.category"
          >
            @for (cate of categoryData; track cate) {
            <mat-option [value]="cate">{{ cate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-flat-button (click)="onCreateProduct()">Create</button>
    </mat-card-content>
  </mat-card>

  <table mat-table [dataSource]="productData" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price | price : "₫" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">
        {{ element.category }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>status</th>
      <td mat-cell appStatusProduct *matCellDef="let element">
        {{ element.status | product }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClick(row)"
    ></tr>
  </table>
</div>
} }

<ng-template #detailContainer></ng-template>
